<a href="https://colab.research.google.com/github/amitasha/codelicious/blob/master/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

List Comprehension

In [9]:
input_list= [1,2,3,4,5,6,7,8,9]

output_list=[]

#Using loop for constructing output list
for var in input_list:
  if var % 2==0:
    output_list.append(var)

ml = []
for i in range(5):
  if i < 2:
    ml.append(1)
print(ml)

#while loop 
i = 0
while i < 5:
  print(i)
  i = i + 1
#for loop
for i in range(5):
  print(i)
#if 
if 1 in [1,2,3,4,5]:
  print("Yes!!")

print("output list using for loop: ", output_list)

[1, 1]
0
1
2
3
4
0
1
2
3
4
Yes!!
output list using for loop:  [2, 4, 6, 8]

In [10]:
input_list= [1,2,3,4,5,6,7,8,9]

list_using_comp = [var if var%2==0 else 0 for var in input_list]

print("output list using list comprehension:", list_using_comp)

output list using list comprehension: [0, 2, 0, 4, 0, 6, 0, 8, 0]

In [21]:
#do list comprehension when you want to put 33 in place of 3
#for the rest of the odd numbers put 0
#so thatthe output is
#[8,2,33,4,8,6,8,8,0]

input_list= [1,2,3,4,5,6,7,8,9]

list_using_comp = [var if var/3==1 else 0 for var in input_list]

#list_using_comp = [(var) if (var%2==0) else (33 if (var==3) else 0) for var in input_list]

list_using_comp[2]=33

print("output list using list comprehension:", list_using_comp)

output list using list comprehension: [0, 0, 33, 0, 0, 0, 0, 0, 0]

In [24]:
import time
start_time = time.time()
for i in range(5):
  pass
end_time = time.time()
print(end_time-start_time)

4.792213439941406e-05

In [26]:
import time
start_time = time.time()  #time till 1970
a = lc()
end_time = time.time()   
print(end_time-start_time)   #time till 1970 + time of lc() - time till 1970
start_time = time.time()
a = nlc()
print(time.time()-start_time)

NameError: ignored

Set Comprehension

In [27]:
input_list = [1 ,2 ,3 ,4 ,5 ,6 ,7 ,8 ,9 ]

set_using_comp = {var for var in input_list if var%2 == 0}

print("output set using comprhension:", set_using_comp )

output set using comprhension: {8, 2, 4, 6}

Dictionary Comprehension

L    L
I    I
S    S
T    T
1    2

In [29]:
a = [1,2,4,7]
b = [1,2,3]
for x,y in zip(a,b):
 print(x,y)

1 1
2 2
4 3

In [31]:
# what are dictionaries
d = dict({'abcd':1, 'zoo':12121})
print(d)
print(d['abcd'])

{'abcd': 1, 'zoo': 12121}
1

In [32]:
state = ['Gujarat', 'Maharashtra', 'Rajasthan', 'Delhi']
capital = ['Gandhinagar', 'Mumbai', 'jaipur']

dict_using_comp = {key:value for (key,value) in zip(state,capital)}

print("output dictionary using dictionary comprehension:", dict_using_comp)

output dictionary using dictionary comprehension: {'Gujarat': 'Gandhinagar', 'Maharashtra': 'Mumbai', 'Rajasthan': 'jaipur'}

Enumerate

In [34]:
ml = ['ricky','cuchiee','bunny','kitty']

#respected output
# 1 ricky
# 2 cuchiee
# 3 bunny
# 4 kitty

i = 0
for k in ml:
  print(i+1,k)
  i+=1

#enumerate method

for i,x in enumerate(ml):
  print(i+1, x)

1 ricky
2 cuchiee
3 bunny
4 kitty
1 ricky
2 cuchiee
3 bunny
4 kitty

In [37]:
#LIST AS STACK
stack = [3,4,5]
print(stack)
stack.append(6)
print(stack)
stack.append(7)
print(stack)
stack.pop()
print(stack)
#to pop element 3 from start
stack.reverse()
stack.pop()
stack.reverse()
print(stack)

[3, 4, 5]
[3, 4, 5, 6]
[3, 4, 5, 6, 7]
[3, 4, 5, 6]
[4, 5, 6]

In [ ]:
#LIST AS QUEUE
queue = [1,2,3]
print(queue)
queue.append(4)
print(queue)

In [ ]:
#LIST vs TUPLE
#List - can be changed later on
#Tuple - can not be changed more than once

ml = [0]*10
ml = tuple(ml)
ml[0] = 100
print(ml)

In [ ]:
import datetime
format = '%Y '

Classes and Inheritance

Underscore

In [ ]:
def fun():
    return 1,2,3,4

  a,_,_,_ = fun()

  print(a)

In [ ]:
def fun(input_, class_):

  print(input_,class_)

  fun(1,2)